
  .overlay {
    color: white;
    padding: 0 20px;
    max-width: 800px;
  }

  .overlay h1 {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    margin-top: 250px;
  }

 
  @media (min-width: 768px) {
    .overlay h1 {
      font-size: 20px;
    }
  }
  .about {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 359px;           
    padding: 0px 20px;      
    text-align: center;
    background-color:white; 
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* ensures column items (h2, p) are centered */
    max-width: 800px;
    text-align: left;
  }

  .about h2 {
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #151B1F
  }

  .about p {
    font-size: 16px;
    color: #667085;
    font-weight: 400;

    max-width: 600px;
    margin: 0;
  }

  .what-we-do1 {
    padding: 80px 0;
    background-color: #F9FAFB;
    height: 637px;
  }
  .text-content1 h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #151B1F;
    margin-bottom: 5px;
  }
  .service-item1 h3 {
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 5px;
    color: #151B1F;
  }
  .service-item1 p {
    color: #667085;
    font-size: 16px;
    font-weight: 400;
  }

  .what-we-do2 {
    padding: 80px 0;
    background-color: white;
    height: 637px;
  }
  .text-content2 h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #151B1F;
  }
  .service-item2 h3 {
    font-size: 16px;
    
    font-weight: 500;
    color: #151B1F;
  }
  .service-item2 p {
    color: #667085;
    font-size: 14px;
    font-weight: 400;
  }

  .solutions {
    /* padding: 100px 0; */
    background: white; 
    text-align: center;
    height: 359px;
  }
 .hero-buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
    justify-content: center;
}

